div {
  width: 450px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}
th {
  width: 80px;
  border-top: 2px gray solid;
  border-bottom: 2px black solid;
  background: white;
  text-transform: uppercase;
}

th:nth-child(1),
th:nth-child(2) {
  text-align: left;
}

td:nth-child(1),
td:nth-child(2) {
  text-align: left;
}

th:nth-child(3),
th:nth-child(4) {
  text-align: right;
}

td:nth-child(3),
td:nth-child(4) {
  text-align: right;
}

tr:nth-child(odd) {
  background-color: #d2d2d2;
}

th,
td {
  padding: 5px;
  transition: 0.4s ease-in-out;
}

td:hover {
  background: #84e3ff;
}
